@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* components */
@import "components/background-characters.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";
@import "components/splash-screen.css";
@import "components/pokeball.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-screen.css";

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}
input {
  font-family: "Roboto", sans-serif;
}
.main-screen {
  margin: 27px 20px;
}
