.chat-screen {
  background-color: #abc1d1;
}
.chat-main {
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-screen__time-stamp {
  background-color: rgba(0, 0, 0, 0.17);
  color: white;
  padding: 8px 13px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  border-radius: 30px;
}
@keyframes chat-slide {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes chat-slide__own {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.chat-row {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  animation: chat-slide 1s ease-in-out;
}
.chat-row--own {
  justify-content: flex-end;
  animation: chat-slide__own 1s ease-in-out;
}
.chat-row__avatar {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
}
.chat-row__text {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.chat-row__name {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
}
.chat-row__contents {
  display: flex;
  align-items: flex-end;
}
.chat-row__message {
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
  border-radius: 17px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}
.chat-row--own .chat-row__message {
  margin-right: 0px;
  margin-left: 5px;
  background-color: var(--yellow);
  border-top-left-radius: 17px;
  border-top-right-radius: 0px;
}
.chat-row__message--image {
  width: 204px;
  height: 87px;
}
.chat-row__time {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.35);
}
.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply:focus-within {
  transform: translateY(80px);
}
.reply__column:first-child {
  color: rgba(0, 0, 0, 0.3);
  width: 10%;
}
.reply__column:last-child {
  width: 90%;
  box-sizing: border-box;
  position: relative;
}
.reply__column input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 15px 12px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column:focus-within input {
  transform: translateY(-80px) translateX(-50px);
  width: 95vw;
}
.reply__column .fa-smile,
.reply__column .reply__btn {
  position: absolute;
}
.reply__column .fa-smile {
  right: 60px;
  top: 9px;
  color: rgba(0, 0, 0, 0.3);
}
.reply__column .reply__btn {
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  top: 3px;
  right: 5px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
.reply:focus-within .reply__btn {
  transform: translateY(-80px) translateX(3px);
}
