@keyframes shakeBall {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(20deg);
  }
  40%,
  100% {
    transform: rotate(0deg);
  }
}
.pokeball {
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  animation: shakeBall 1s ease-in-out infinite;
}
.pokeball__upside,
.pokeball__downside {
  width: 16px;
  height: 8px;
  border: 3px solid var(--black);
  box-sizing: border-box;
}
.pokeball__upside {
  background-color: tomato;
  border-bottom: none;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.pokeball__downside {
  background-color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.pokeball__inner-circle {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 6px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: white;
}
