.user-component {
  display: flex;
  justify-content: space-between;
}
.user-component__column {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: center;
}
.user-component__column:last-child > span {
  margin-right: 5px;
}
.user-component__avatar {
  width: 57px;
  height: 57px;
  border-radius: 20px;
}
.user-component__avatar--lg {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.user-component__avatar--sm {
  width: 46px;
  height: 46px;
  border-radius: 18px;
}
.user-component__text {
  margin-left: 15px;
}
.user-component__title {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.user-component__title--bold {
  font-weight: 700;
}
.user-component__self {
  background-color: var(--black);
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 5px;
}
.user-component__subtitle {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}
.user-component__music {
  display: flex;
  border: 2px solid var(--black);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  padding: 7px;
}
.user-component__music-title {
  margin-right: 7px;
}
.user-component__time {
  font-weight: 500;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.3);
}
.user-component__notification {
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
}
.user-component__space {
  height: 30px;
}
